<script type="text/ng-template" id="menu.html">
    <a class="pointer" ng-click="vm.onItemClick(item)">
        <i ng-if="item.hasIcon" ng-class="item.iconClass"></i>
        <span> {{(item.displayName_key || item.displayName || item.name) | translate}}</span>
        <small ng-if="item.hasChildren">
            <span class="glyphicon pull-right"  ng-class="{'glyphicon-triangle-right': !item.expanded, 'glyphicon-triangle-bottom': item.expanded}"></span>
            </span>
        </small>
    </a>
    <ul ng-if="item.hasChildren" uib-collapse="!item.expanded" ng-sshow="item.expanded" class="nav nav-pills nav-stacked animate-show">
        <li ng-class="{'active': item.id == vm.selectedPage.id}" ng-repeat="item in item.children" ng-include="'menu.html'">
        </li>
    </ul>
</script>

<ul class="nav nav-pills nav-stacked aside">
    <li ng-class="{'active': item.id == vm.selectedPage.id}" ng-repeat="item in vm.data" ng-include="'menu.html'">
    </li>
</ul>
