<div class="didi-header">
	<div class="entrance">
		<a title="客服&体验数据平台" class="logo-href" href="javascript:void(0);">
			<span class="logo"></span><span class="sep"></span>
		</a>
	</div>
	<ul class="mainnav-wrapper">
		<li class="active"><a href="javascript:void(0)">客服&体验数据平台</a></li>
	</ul>
	<div class="nav-container">
		<div class="loginInfo">
			{{vm.username}}</span>&nbsp;<span class="didi-icon didi-icon-menu-down"></span> <br />
			<span class="logout"><a href="javascript:void(0)">退出</a></span>
		</div>
	</div>
</div>